/*
 * @file
 * global.styles
 * Override styles from parallaxy.global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* =============================================================================
 *   Base
 * ========================================================================== */
/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Page wrapper, includes the .container class which sets the overall page or section width
 * Main wrapper in page.tpl.php, the .container class sets the width of the page, do not add width to it!
 */
/*
 * Wraps all header elements - branding and .region-header
 */
/*
 * Wraps the sidebars the content column
 */
/*
 * Main content column wrapper
 */
/*
 * Wraps the main-content-header, the content region and feed-icons. Use this wrapper to style the entire main content column
 */
/*
 * Wraps the content region, avoid applying styles to this wrapper, its used mainly for position and invisible gutters and can be problematic to style
 */
/*
 * Footer wrapper
 */
/*
 * Panels may need additional margin wrangling when in the $content region
 */
/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width of the contained element - you
 * can style this but never add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps #page
 */
/*
 * Wraps the leaderboard
 */
/*
 * Wraps the header
 */
/*
 * Wraps the nav elements
 */
/*
 * Wraps breadcrumb
 */
/*
 * Wraps messages and help
 */
/*
 * Wraps the secondary content/preface region
 */
/*
 * Wraps the main content column
 */
/*
 * Wraps the tertiary content/postfix region
 */
/*
 * Footer wrapper
 */
/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
/*
 * Logo
 */
/*
 * Wrapper for the site name and slogan (hgroup)
 */
/*
 * Site name (h1)
 */
/*
 * Site slogan (h2)
 */
/* =============================================================================
 *   Page content header
 * ========================================================================== */
/*
 * Main content header wraps the page title, tabs and actions links
 */
/*
 * The main page title (h1)
 */
/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
/*
 * Feed icons
 */
/*
 * Aggregator feed source
 */
/*
 * Generic styles for the more link
 */
/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
/*
 * Search results are an ordered list so reset the margin
 */
/* =============================================================================
 *   Regions
 * ========================================================================== */
/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
/*
 * Regions can be nested, such as when using Panels
 */
/*
 * Header region, embedded in the #header
 */
/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
/*
 * Secondary content
 */
/*
 * Sits above the main content header, like a content-top region
 */
/*
 * Sits below the main content, like a content-bottom region
 */
/*
 * Sidebars - targets both
 */
/*
 * First sidebar
 */
/*
 * Second sidebar
 */
/*
 * Tertiary content
 */
/*
 * Footer region
 */
/* =============================================================================
 *   Links
 * ========================================================================== */
/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */
/* =============================================================================
 *   Superfish
 * ========================================================================== */
/*
 * Superfish blocks
 */
/*
 * Vertical style
 */
/*
 * Navbar style
 */
/*
 * Sensible padding for the default style
 */
/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
/* If li.content exists it's a problem, so reset the padding */
/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */
/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
/* =============================================================================
 *   Pagers
 * ========================================================================== */
/*
 * Theme the various states of pager links
 */
/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */
/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */
/* =============================================================================
 *   Action links
 * ========================================================================== */
/* =============================================================================
 *  Field Styling
 * ========================================================================== */
/*
 * Wrapper for any field
 */
/*
 * Above and inline classes are on the field wrapper
 */
/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
/*
 * Field types (Core)
 */
/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
/*
 * Taxonomy
 */
/*
 * Text
 */
/*
 * Long text
 */
/*
 * Text with summary
 */
/*
 * File
 */
/*
 * Number/Integer
 */
/*
 * Decimal
 */
/*
 * Number float
 */
/*
 * List
 */
/*
 * List boolean
 */
/*
 * List integer
 */
/*
 * List float
 */
/*
 * Field types (Contrib)
 */
/*
 * Named fields
 */
/*
 * Underscores in field name are replaced with dashes
 */
/*
 * Image Alignment Theme Settings - included here so you can easily override
 */
/*
 * Float none setting
 */
/*
 * Float left setting
 */
/*
 * Centered setting
 */
/*
 * Float right setting
 */
/* =============================================================================
 *   Block Styling
 * ========================================================================== */
/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
/*
 * The first block in the region
 */
/*
 * The last block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Block title
 */
/*
 * Block content wrapper
 */
/*
 * Match item list and block menu margin and padding
 */
/*
 * Block for the latest news items in the first category
 */
/*
 * Block for the latest news items in the first feed
 */
/*
 * First block created with "Add block" link
 */
/*
 * "Recent blog posts" block
 */
/*
 * "Book navigation" block for the current book's table of contents
 */
/*
 * "Recent comments" block
 */
/*
 * "Active forum topics" block
 */
/*
 * "New forum topics" block
 */
/*
 * Language switcher block
 */
/*
 * Custom menu block
 */
/*
 * "Recent content" block
 */
/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
/*
 * "Most recent poll" block
 */
/*
 * "Author information" block for the profile of the page's author
 */
/*
 * "Search form" block
 */
/*
 * "Shortcuts" block
 */
/*
 * "Popular content" block
 */
/*
 * "Main menu" block
 */
/*
 * "Management" block for Drupal management menu
 */
/*
 * "Navigation" block for Drupal navigation menu
 */
/*
 * "User menu" block for Drupal user menu
 */
/*
 * "System help" block
 */
/*
 * "Main page content" block
 */
/*
 * "Powered by Drupal" block
 */
/*
 * "User login form" block
 */
/*
 * "Who's new" block for a list of the newest users
 */
/*
 * "Who's online" block for a list of the online users
 */
/* =============================================================================
 *   Node Styling
 * ========================================================================== */
/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */
/*
 * Wrapper for a single comment
 */
/*
 * Comment title
 */
/*
 * Comment states
 */
/*
 * Preview of the comment before submitting new or updated comment
 */
/*
 * "New" marker for comments that are new for the current user
 */
/*
 * Nested comments are indented
 */
/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */
/*
 * Highlight marks and form required mark
 */
/*
 * The submit button
 */
/*
 * Define consistent borders
 */
/*
 * Tips for Drupal's input formats
 */
/*
 * Buttons used by contrib modules like Media
 */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* =============================================================================
 *   Tables
 * ========================================================================== */
tr {
  /* Table row striping */
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
/* =============================================================================
 *   Messages
 * ========================================================================== */
/*
 * Unpublished nodes
 */
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7
.comment-unpublished p.unpublished > * {
  position: relative;
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */
/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
/*
 * Admin menu overrides
 */
/*
 * Devel Module
 */
/*
 * Styleguide module tweaks
 */
