
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */


/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */


/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */


/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {

  /*
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   *
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block,
  #footer-wrapper .block {
    float: none;
    width: 100%;
  }
}

@media only screen and (min-width: 481px) {
  .fio { min-height: 430px; }

  #featured-image {
    position: fixed;
    height: 430px;
  }
}


/*
 * Tablet sizes and up
 */
 @media only screen and (min-width: 768px) {
  #ui-wrapper { position: fixed; }
  #nav-wrapper { position: fixed; }
  #page-wrapper { margin-top: 40px; }

  #logo {
    position: fixed;
    top: 152px;

    .logged-in & {
      top: 215px;
    }
  }

  #page-title {
    @include font-size(3.2);
  }

  // Faux column
  .sidebar-second #content-column:after {
    content: '';
    width: 30%;
    height: 100%;
    background: $sidebar_background_color;
    position: absolute;
    top: 0;
    right: 0;
    @include box-shadow(0px 0px 6px rgba(0,0,0,.7));
  }

  #content-wrapper {
  background-image: url('images/patterns/padded.png');
  background-repeat: repeat;
  border-top: 4px solid #222;
  margin-top: 430px;
  @include box-shadow(0px 5px 8px rgba(0,0,0,.2) inset, 0px -20px 60px 3px rgba(0,0,0,.7 ));
  position: relative;

  .container {
    @include background-rgba(255, 255, 255, .3);
    @include box-shadow(0px 0px 3px rgba(0,0,0,.3));
    padding: 15px 15px 0px;
    margin-top: -100px;
    @include border-top-radius(6px);
  }
}

// Global Grid
.grid-3 {
  .views-row {
    width: 33.333333%;
    float: left;
    padding: $grid_padding;
  }
}

 }

/*
 * Responsive Primary Menu
 */

@media only screen and (max-width: 939px) {
  // Tiny nav
  .js .tinynav { display: block; }
  .js .primary-menu { display: none; }
}

@media only screen and (min-width: 940px) {
  // Tiny nav
  .js #primary-menu-bar .selector { display: none; }
}


/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */
